body {
    margin-top: 20px;
}

.axis {
    stroke-width: 1;
    stroke: #00ff00;
}

/* The axis line itself */
.axis path {
    fill: none;
    stroke-width: 1;
    stroke: #222222;
}

/* The axis tick marks */
.axis line {
    fill: none;
    stroke-width: 1;
    stroke: #666666;
}

/* The axis tick text */
.axis text {
    stroke-width: 0;
    stroke: #222222;
}

.axis-label {
    font-weight: bold;
}

.plot-background {
    fill: #f8f8f8;
    stroke: #222222;
}

.hover-label {
    font-size: 20px;
    text-align: center;
}

.endowment-label {
    background: #ffffff;
    border: 1px solid #222222;
    opacity: 0.5;
}

.selection-label {
    background: #ffffff;
    border: 1px solid #222222;
    opacity: 0.5;
}

.budget-line {
    stroke: red;
}

.cursor-crosshair-x, .cursor-crosshair-y {
    stroke: #a8a8a8;
}

.endowment-point {
    fill: #ff8888;
    stroke: #440000;
}

.selection-point {
    fill: #8888ff;
    stroke: #000044;
}

.cursor-point {
    fill: #dddddd;
    stroke: #000000;
}

.result-point {
    fill: #51a351;
    stroke: #000000;
}