body {
    margin-top: 20px;
}

.info-table {
    margin-top: 240px;
}

/*
    dirty quicky css to get
    messages to line up nicely
*/
.max-payouts-message {
    position: absolute;
    width: 300px;
    top: 240px;
    right: 0;
}

.axis {
    stroke-width: 1;
    stroke: #00ff00;
}

/* The axis line itself */
.axis path {
    fill: none;
    stroke: #222222;
}

/* The axis tick marks */
.axis line {
    fill: none;
    stroke-width: 1;
    stroke: #666666;
}

/* The axis tick text */
.axis text {
    stroke: none;
    fill: #222222;
}

.axis-label {
    font-weight: bold;
}

.plot-background {
    fill: #f8f8f8;
    stroke: #222222;
    stroke-width: 1;
}

.hover-label {
    font-size: 20px;
    text-align: center;
}

.transparent {
    opacity: 0.2;
}

.point-label {
    background: #ffffff;
    padding: 5px 10px;
    z-index: 10000;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.result-label {
    display: none;
    background: #51a351;
    color: #ffffff;
    padding: 5px 10px;
    z-index: 10000;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.budget-line {
    stroke: red;
}

.cursor-crosshair-x, .cursor-crosshair-y {
    stroke: #a8a8a8;
}

.result-line {
    stroke: #51a351;
}

.endowment-point {
    fill: #ff8888;
    stroke: #440000;
}

.selection-point {
    fill: #8888ff;
    stroke: #000044;
}

.default-point {
  fill: #3333cc;
  stroke: #000000;
}
.selected-point {
  fill: #009900;
  stroke: #000000;
}

.cursor-point {
    fill: #dddddd;
    stroke: #000000;
}

.result-point {
    fill: #51a351;
    stroke: #000000;
}

.constraint-point {
    fill: #ff8888;
    stroke: #440000;
}

.selection-ping {
    fill: none;
    stroke-width: 10;
    stroke: #8888ff;
}
